.icon {
    width: auto;
    height: 64px;
    fill: #555;
    border: 3px solid #555;
    border-radius: 64px;
}

.icon:hover {
    background-color: #538033;
    fill: white;
    border-color: transparent;
}